.all_products_wrapper{
    h2{
        font-size: 32px;
        margin-top: 50px;
        margin-left:20px;
        color: #f34343;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}