@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.site-header{
    max-width: 100%;
    min-height: 100px;
    background-color: $main-black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline: 10%;

    .logo{
        color: white;
        font-size: 32px;

        span{
            color: $primary-color;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-header__link{

        margin-left: 20px;
        font-size: 22px;
        transition:all .3s ease-in-out;
        position: relative;

        

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #f34343;
            top: 60px;
            left: 0;
            right: 0;
            visibility: hidden;
            transition: all .8s ease-in-out;
            
           
        }
        &:hover::after{
            top: 30px;
            visibility: visible;
        }
        
        span{
            position: absolute;
            color:#f34343;
            bottom: 10px;
           
        }

    }
}