@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.site-header{
    max-width: 100%;
    min-height: 100px;
    background-color: $main-black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline: 10%;

    .logo{
        color: white;
        font-size: 32px;

        span{
            color: $primary-color;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-header__link{
        margin-left: 20px;
        font-size: 22px;
    }
}