.card{
    width: 23%;
    min-height: 430px;
    background-color: white;
    // box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.75);
    border: 1px solid rgb(216, 215, 215);

    img{
        height: 280px;
        width: 100%;
    }
    .content_wrapper{
        padding: 15px;

        .title{
            display: flex;
            justify-content: space-between;

            h3,h4{
                font-size: 22px;
            }
        }
    }
    .review{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        p{
            color: red;
            font-weight: bold;
        }
    }
}